$background-img: #2ba6c8;
$img-text-color: #fff;
$fb-btn: #3b5998;
$twitter-btn: #00acee;
$login-card-color: #00acee;
$breakpoint-laptop: 804px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
//--------------------------Color scheme--------------------------------//
$theme-background:#E8F0FE;
$header-background:#616D73;
$footer-background:#616D73;
//---------------------- buttons color ---------------------//
$buttons-background:#0098c9;
$buttons-background-hover-color:#616D73;
$buttons-text-color:#fff;
$buttons-hover-text-color:#fff;
$buttons-radius:50px;
/*------------------------ end buttons ---------------------*/
$card-background-color:white;
$sidenav-background-color:#fff;
$sidenav-list-hover-background-color:#616D73;
// $footer-background-color:$header-background;
$icons-color:#fff;
$login-icon-color:#000;
$icons-hover-color:#fff;
$dialog-header-color:#fff;
$text-hover-color:#fff;
$text-color:#000;
$text-active-color:#000;
$shadow-color:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
@mixin pages-header {
  margin-top: 50px;
  background: #fff;
  box-shadow: $shadow-color;
  height: 35px;
  // position: fixed;
  // top: 10px;
  // z-index: 20;
}
@mixin add-button {
  background-color: $buttons-background;
  color: $buttons-text-color;
  border-radius: $buttons-radius;
  &:hover{
    .mat-icon{
      color: $icons-hover-color;
    }
    color: $buttons-hover-text-color;
    background: $buttons-background-hover-color;
  }
}
@mixin edit-button {
    background-color: $buttons-background;
    color: $buttons-text-color;
    border-radius: $buttons-radius;
    &:hover{
      .mat-icon{
        color: $icons-hover-color;
      }
      color: $buttons-hover-text-color;
      background: $buttons-background-hover-color;
    }
  }

@mixin  delete-button {
  background-color: $buttons-background;
    color: $buttons-text-color;
    border-radius: $buttons-radius;
    &:hover{
      .mat-icon{
        color: $icons-hover-color;
      }
      color: $buttons-hover-text-color;
      background: $buttons-background-hover-color;
    }
}
@mixin  pages-card {
  width: 100%;
  box-shadow: $shadow-color;
}