<mat-divider></mat-divider>
<footer>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div fxFlex="20" class="logo">
            <img src="../../../../assets/images/—Pngtree—logo school for example_5303216.png" alt="">
        </div>
        <div fxFlex="50">
            <ul align="center">
                <li>
                    <a href="">Islamabad Campus</a>
                </li>
                <li>
                    <a href="">Lahore Campus Campus</a>
                </li>
                <li>
                    <a href="">Peshwar Campus</a>
                </li>
            </ul>
        </div>
        <div fxFlex="30" class="address">
            <h1 align="center">Address</h1>
            <div fxLayout="row" fxLayoutAlign="center">
                <div>
                    <mat-icon class="homeicon">home</mat-icon>
                </div>
                <div>
                    <p>G6/Abpara Islamabad</p>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <div>
                    <mat-icon class="phoneicon">phone</mat-icon>
                </div>
                <div>
                    <p>111-128-128</p>
                </div>
            </div>
        </div>
    </div>
</footer>